<h1> insert something into mongo</h1>

<form method="POST" action="/insert>" style="display: inline-block">  
    <input for="newPost">
    <input id="newPost" input name="newPost">
    <input name="smgelsejmadeup">
    <input type="submit" value="update"> 
  </form>

<a href="/read">go to read page</a>